S3method(coef,lfjm)
S3method(fitted,lfjm)
S3method(logLik,lfjm)
S3method(plot,lfjm)
S3method(plot,lfjm_lfpca)
S3method(predict,lfjm)
S3method(predict,lfjm_lfpca)
S3method(print,lfjm)
S3method(print,lfjm_control)
S3method(print,lfjm_lfpca)
S3method(print,lfjm_simulation)
S3method(print,summary.lfjm)
S3method(residuals,lfjm)
S3method(summary,lfjm)
S3method(vcov,lfjm)

export(lfjm)
export(lfjm_control)
export(lfjm_lfpca)
export(simulate_lfjm)

importFrom(MASS,ginv)
importFrom(graphics,legend,matplot,plot,plot.new,title)
importFrom(stats,coef,fitted,integrate,logLik,optim,optimHess)
importFrom(stats,pnorm,predict,printCoefmat,rbinom,residuals,rexp)
importFrom(stats,rnorm,runif,sd,smooth.spline,uniroot,vcov)
importFrom(survival,Surv,survreg)
importFrom(tools,toTitleCase)
